*{
margin: 0; 
padding: 0; 
border: 0;
font-size: 100%;
}
h3 {
	color:darkolivegreen; 
	font-style:normal; 
	font-size: 10px; 
	font-family: 'Fira Sans', sans-serif;
	margin-bottom: 0px;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 5px;
}	
h2 {
	color:black; 
	font-style:normal; 
	font-size: 20px; 
	font-family: 'Fjalla One', sans-serif;
	margin-bottom: 5px;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center
}
#my-id {
	font-family: 'Fira Sans', sans-serif;
	background-image: url("../images/nature.png");
	background-color: darkolivegreen;
	background-size: auto;
	color: white;
	font-size: 36px;
}
.my-class {
	text-align: justify;
	color: black;
	border: 5px  darkolivegreen;
	border-style: dotted;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
	margin-bottom: 5px;
	background-color: darkgoldenrod;
	ffont-family: 'Fira Sans', sans-serif;
	font-size: 14px;
}
.my-container {
	text-align: left;
	border: 10px  black;
	border-style: solid;
	color: white;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	margin-top: 5px;
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 5px;
	background-color: darkolivegreen;
	background-image: url("../images/nature.png");
	font-family: 'Fira Sans', sans-serif;
	font-size: 16px;
}
.footer {
	background-image: url("../images/nature.png");
	background-size: auto;
	background-color: burlywood;
	font-family: 'Fjalla One', sans-serif;
	color: cornflowerblue;
	text-align: center;
	border: thick solid black;
	padding: 40px;
	margin: 0px
}
.top{
	font-family: 'Amatic SC', cursive;
	background-image: url("../images/nature.png");
	background-color: darkolivegreen;
	background-size: auto;
	color: white;
	font-size: 36px;
	text-align: center;
	border: thick solid black;
	padding: 20px;
	margin: 0px
}
.center {
  display: block;
  margin-left: auto;
  margin-top: 20px;
  margin-right: auto;
  width: 30%;
}

